<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07756A0619ED4996B4DFC3F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D5983E8D0BF4DAB930B7857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16DA9AD2C2FE42EEADDD6897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185C94EDF2FA4908AD6AB783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3861B8272482E869BE708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218BC1B2C36B4A1CBD63F809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3D84D807BF4B7F98B5A39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35AFFB18802D414B831281BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382FFA32D3C74EE68DCA7188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3869A68D20C44105B2A9EA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398823B233934366B506E000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCFB0BCE5184254B6B6B4D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D22B195BC8F4BB6AEA457D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4719903AC54B4D8E8900C05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55FBBAC43DFC4228A44ADBAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B9419AB0CAC4A9D822FF136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0C750A190E4A05B5B77B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63286FB4B556426F872DB2C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68853B8399634368B7BEA1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB98B485C3A43DEAEABD40E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9E2ADC20C844B6B71CAB58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812100A6B8CC4832B4492D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A4AF557C7744B889808653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84ADF7EE66CD42B9A0A1377A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87933C2C02A643E09EE9A575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89621B39ADF744B893F7EB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BBB741AEDC84F91AC3EF7B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>977BF434A66A43C89200B366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9833FB614F54482686269AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FEAA824FB20469E8EC19951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54B89D0E19A4D1A88AAAECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C929032294D64766B4EC2271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDBE9BDFB5304555A9A86C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B67EAC56DB46CF8A4BDACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E76FFE70BB4545AC892A491D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEEAF68AF3B4B9685D09EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF127C6827241048558E142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4EFA168D0C6446B8B4447EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80EB32C8E4C4D71ABC535AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC95EC2ADC74EFF8541E7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
